<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN" packages="com.sbproject.schedule.utils">
    <Appenders>

        <File name="DeletedLessonsToFile" fileName="LOGS/DeletedLessons.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg - %X{lesson} %n"/>
            <MarkerFilter marker="DELETE_LESSON" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

		<File name="Users" fileName="LOGS/Users.log">
			<PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg %n"/>
			<MarkerFilter marker="USER_ACT" onMatch="ACCEPT" onMismatch="DENY"/>
		</File>

        <File name="DeletedSpecialtiesToFile" fileName="LOGS/DeletedSpecialties.log" append="false">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg - %X{specialty} %n"/>
            <MarkerFilter marker="DELETE_SPECIALTY" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="DeletedSubjectsToFile" fileName="LOGS/DeletedSubjects.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg - %X{subject} %n"/>
            <MarkerFilter marker="DELETE_SUBJECT" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="DeletedTeachersToFile" fileName="LOGS/DeletedTeachers.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg - %X{teacher} %n"/>
            <MarkerFilter marker="DELETE_TEACHER" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="File" fileName="LOGS/Shopme.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg %n"/>
            <MarkerFilter marker="IMPORTANT" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="ADDMethodsToFile" fileName="LOGS/ADD_methods.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg %n"/>
            <MarkerFilter marker="ADD_METHOD_INVOKED" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="SpecialtyCachingLogToFile" fileName="LOGS/Specialty_caching.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg %n"/>
            <MarkerFilter marker="SPECIALTY_CACHING" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="SubjectCachingLogToFile" fileName="LOGS/Subject_caching.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg %n"/>
            <MarkerFilter marker="SUBJECT_CACHING" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        
        <File name="UserCachingLogToFile" fileName="LOGS/User_caching.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg %n"/>
            <MarkerFilter marker="USER_CACHING" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="CustomCachingLogToFile" fileName="LOGS/Custom_caching.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg %n"/>
            <MarkerFilter marker="CUSTOM_CACHING" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="GETMethodsToFile" fileName="LOGS/GET_methods.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg %n"/>
            <MarkerFilter marker="GET_METHOD_INVOKED" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="MethodInvokeTimeToFile" fileName="LOGS/Method_invoke_time.log">
            <PatternLayout pattern="%d [%t] %-50c{1.} - %msg %n"/>
            <MarkerFilter marker="METHOD_INVOKE_TIME_MARKER" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="UPDATEMethodsToFile" fileName="LOGS/UPDATE_methods.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg %n"/>
            <MarkerFilter marker="UPDATE_METHOD_INVOKED" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="DELETEMethodsToFile" fileName="LOGS/DELETE_methods.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg %n"/>
            <MarkerFilter marker="DELETE_METHOD_INVOKED" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="UserActivity" fileName="LOGS/UserActivity.log">
            <PatternLayout pattern="%msg %n"/>
            <MarkerFilter marker="USER_ACTIVITY" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <CustomAppender name="Custom">
<!--            <CustomLayout/>-->
            <PatternLayout pattern="%d{yyyy-mmm-dd HH:mm:ss} [%t] %-5level %-50c{1.} %n"/>
        </CustomAppender>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Custom"/>
            <AppenderRef ref="DeletedLessonsToFile"/>
            <AppenderRef ref="Users"/>
            <AppenderRef ref="ADDMethodsToFile"/>
            <AppenderRef ref="GETMethodsToFile"/>
            <AppenderRef ref="UPDATEMethodsToFile"/>
            <AppenderRef ref="DELETEMethodsToFile"/>

            <AppenderRef ref="SpecialtyCachingLogToFile"/>
            <AppenderRef ref="SubjectCachingLogToFile"/>
			<AppenderRef ref="UserCachingLogToFile"/>

            <AppenderRef ref="CustomCachingLogToFile"/>

            <AppenderRef ref="MethodInvokeTimeToFile"/>
            <AppenderRef ref="DeletedSpecialtiesToFile"/>
            <AppenderRef ref="DeletedSubjectsToFile"/>
            <AppenderRef ref="DeletedTeachersToFile"/>
            <AppenderRef ref="UserActivity"/>
        </Root>
    </Loggers>
</Configuration>