<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN" packages="com.sbproject.schedule.utils">
    <Appenders>

        <File name="File" fileName="Shopme.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg %n"/>
            <MarkerFilter marker="IMPORTANT" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <CustomAppender name="Custom">
            <CustomLayout/>
            <PatternLayout pattern="%d{yyyy-mmm-dd HH:mm:ss} [%t] %-5level %-50c{1.} %n"/>

        </CustomAppender>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Custom"/>
        </Root>
    </Loggers>
</Configuration>