<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<h2>LogIn</h2>

<form action="/login" method="post">
    <label>Login: <input name="username" type="text" placeholder="Enter the login"/></label>
    <br>
    <p></p>
    <label>Password: <input name="password" type="password" placeholder="Enter the password"/></label>
    <br>
    <p></p>
    <button type="submit">Log In</button>
    <p><a href="/registration">Sign Up</a></p>
</form>
<br>
<p style="color: orangered;" th:if="${param.error}">
	Invalid login or password
</p>
</body>
</html>