<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">Login Page</title>
</head>
<body>

<h2 th:text="#{login.h2}">LogIn</h2>

<form action="/login" method="post">
    <label><span th:text="#{login.login}"></span><input name="username" type="text" th:placeholder="#{login.login.placeholder}"/></label>
    <br>
    <p></p>
    <label><span th:text="#{login.password}"></span><input name="password" type="password" th:placeholder="#{login.password.placeholder}"/></label>
    <br>
    <p></p>
    <button type="submit" th:text="#{login.submit}">Log In</button>
    <p><a href="/registration" th:placeholder="#{login.goToRegistration}">Sign Up</a></p>
</form>
<br>
<p style="color: orangered;" th:if="${param.error}" th:text="#{login.error}">
	Invalid login or password
</p>
</body>
</html>