<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${appName}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<section class="container">

    


    <header class="mt-5 mb-5">
        <h1 th:text="${appName}"></h1>
    </header>


    <!--    <h2>Specialty</h2>-->


    <div th:if="${showNotification}" th:class="${success} ?'alert alert-success alert-dismissible': 'alert alert-danger alert-dismissible'">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong th:text="${success}? 'Success!':'Error!'"></strong>&nbsp;<span th:text="${notification}"/>
    </div>

    <!------------------------------------------------------------------------------------------------------------->
    <div class="row row-content align-items-center">
        <div class="col-12">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#specialties" role="tab" data-toggle="tab">Specialties</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#subjects" role="tab" data-toggle="tab">Subjects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#teachers" role="tab" data-toggle="tab">Teachers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#lessons" role="tab" data-toggle="tab">Lessons</a>
                </li>
            </ul>

            <div style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey; border-bottom: 1px solid lightgrey; padding: 50px;">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="specialties">
                        <h3 class="mt-3 mb-4">Specialties</h3>

                        <form action="/specialty/add" method="post">
                            <label class="mr-2">Name:&nbsp;&nbsp;<input required name="name" type="text" placeholder="Enter the name"/></label>
                            <label class="mr-4">Year: <select class="form-select" name="year">
                                <option selected="selected">1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select></label>
                            <button class="btn btn-info mr-1" type="submit">Add</button>
                            <button class="btn btn-secondary" type="reset">Clear</button>
                        </form>
                        <div class="mt-5">
                            <h4 class="mb-4">Added specialties</h4>
                            <table class="table" >
                                <tr>
                                    <th style="width: 50%;">Name</th>
                                    <th style="width: 20%;">Year</th>
                                    <th style="width: 10%;"></th>
                                </tr>
                                <tr th:each="specialty: ${specialties}">
                                    <td th:text="${specialty.name}"></td>
                                    <td th:text="${specialty.year}"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#modal'+${specialty.id}">Change</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="subjects">
                        <h3>Subjects</h3>

                        <form action="/subject/add" method="post">
                            <label>Name: <input name="name" type="text" placeholder="Enter the name"/></label>
                            <label>Quantity of groups: <input name="quantOfGroups" type="number" min="1" max="20"/></label>
                            <label>Specialties: <input name="specialties" th:each="specialty: ${specialties}" th:value="${specialty.id}" th:text="${specialty.name}+'-'+${specialty.year}"
                                                       type="checkbox"/></label>
                            <button type="submit">Add</button>
                            <button type="reset">Clear</button>
                        </form>
                        <br/>

                        <div>
                            <table border="1px">
                                <caption>Added subjects</caption>
                                <tr>
                                    <th>Name</th>
                                    <th>Quantity of groups</th>
                                    <th>Teachers</th>
                                    <th>Specialties</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr th:each="subject: ${subjects}">
                                    <td th:text="${subject.name}"></td>
                                    <td th:text="${subject.quantOfGroups}"></td>
                                    <td th:text="${subject.teachers}"></td>
                                    <td th:text="${subject.specialties}"></td>
                                    <td><form action="subject/delete/" method="post">
                                        <input name="id" type="hidden" th:value="${subject.id}">
                                        <button type="submit">Delete</button>
                                    </form></td>
                                    <td><form action="subject/update/" method="post">
                                        <input name="id" type="hidden" th:value="${subject.id}">
                                        <button type="submit">Update</button>
                                    </form></td>
                                </tr>
                            </table>
                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="teachers">
                        <h3>Teachers</h3>

                        <form action="/teacher/add" method="post">
                            <label>Name: <input name="name" type="text" placeholder="Enter the name"/></label>
                            <label>Subjects: <input name="subjects" th:each="subject: ${subjects}" th:value="${subject.id}" th:text="${subject.name}"
                                                    type="checkbox"/></label>
                            <button type="submit">Add</button>
                            <button type="reset">Clear</button>
                        </form>
                        <br/>

                        <br>
                        <div>
                            <table border="1px">
                                <caption>Added teachers</caption>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Subjects</th>
                                </tr>
                                <tr th:each="teacher: ${teachers}">
                                    <td th:text="${teacher.id}"></td>
                                    <td th:text="${teacher.name}"></td>
                                    <td th:text="${teacher.subjects}"></td>
                                    <td><form action="teacher/delete/" method="post">
                                        <input name="id" type="hidden" th:value="${teacher.id}">
                                        <button type="submit">Delete</button>
                                    </form></td>
                                    <td><form action="teacher/update/" method="post">
                                        <input name="id" type="hidden" th:value="${teacher.id}">
                                        <button type="submit">Update</button>
                                    </form></td>
                                </tr>
                            </table>
                        </div>


                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="lessons">
                        <h3>Lessons</h3>



                        <form action="/lesson/add" method="post">
                            <label>Day: <select name="day">
                                <option value="1">MONDAY</option>
                                <option value="2">TUESDAY</option>
                                <option value="3">WEDNESDAY</option>
                                <option value="4">THURSDAY</option>
                                <option value="5">FRIDAY</option>
                                <option value="6">SATURDAY</option>
                                <option value="7">SUNDAY</option>
                            </select></label>
                            <label>Time: <select name="time">
                                <option value="0">8:30-9:50</option>
                                <option value="1">10:00-11:20</option>
                                <option value="2">11:40-13:00</option>
                                <option value="3">13:30-14:50</option>
                                <option value="4">15:00-16:20</option>
                                <option value="5">16:30-17:50</option>
                                <option value="6">18:00-19:20</option>
                            </select></label>
                            <label>Subject: <select name="subjId">
                                <option th:each="subject: ${subjects}" th:text="${subject.name}" th:value="${subject.id}"></option>
                            </select></label>
                            <label>Teacher: <select name="teachId">
                                <option th:each="teacher: ${teachers}" th:text="${teacher.name}" th:value="${teacher.id}"></option>
                            </select></label>
                            <label>Group: <select name="group">
                                <option value="0">Lecture</option>
                                <option value="1">Group</option>
                            </select></label>
                            <label>Weeks: <input name="weeks" type="text"/></label>
                            <label>Room: <select name="room">
                                <option value="214">Room</option>
                                <option value="remotely">Remotely</option>
                            </select></label>
                            <button type="submit">Add</button>
                            <button type="reset">Clear</button>
                        </form>


                        <div>
                            <table border="1px">
                                <caption>Added lessons</caption>
                                <tr>
                                    <th>Day</th>
                                    <th>Time</th>
                                    <th>Subject</th>
                                    <th>Teacher</th>
                                    <th>Group</th>
                                    <th>Weeks</th>
                                    <th>Room</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr th:each="lesson: ${lessons}">
                                    <td th:text="${lesson.dayOfWeek}"></td>
                                    <td th:text="${lesson.time}"></td>
                                    <td th:text="${lesson.subject.name}"></td>
                                    <td th:text="${lesson.teacher.name}"></td>
                                    <td th:text="${lesson.group}"></td>
                                    <td th:text="${lesson.weeks}"></td>
                                    <td th:text="${lesson.room}"></td>
                                    <td><form action="lesson/delete/" method="post">
                                        <input name="id" type="hidden" th:value="${lesson.id}">
                                        <input name="lesson" type="hidden" th:value="${lesson.toString()}">
                                        <button type="submit">Delete</button>
                                    </form></td>
                                    <td><form action="lesson/update/" method="post">
                                        <input name="id" type="hidden" th:value="${lesson.id}">
                                        <button type="submit">Update</button>
                                    </form></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------------->




    <section>
        <div th:each="specialty: ${specialties}" class="modal fade" th:id="'modal'+${specialty.id}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Specialties</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="container">
                            <div class="row align-items-center">
                                <form class="col-12" action="/specialty/update/" method="post">
                                    <div class="form-group">
                                        <label for="specName">Name:</label>
                                        <input required th:attr="value=${specialty.name} " type="text" class="form-control" id="specName" placeholder="Enter the name" name="specName">
                                    </div>
                                    <input name="id" type="hidden" th:value="${specialty.id}">
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-md-2 col-sm-12" for="specYear">Year:</label>
                                            <select class="col-md-2 col-sm-2 form-select"  id="specYear" name="specYear">
                                                <option th:each="i : ${#numbers.sequence(1, 6)}" th:value="${i}" th:text="${i}"
                                                        th:selected="${i==specialty.year}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="height: 15px;"></div>
                                    <div class="form-group">
                                        <button type="submit" class="col-3 btn btn-success">Update</button>
                                        <button formaction="specialty/delete/" type="submit" class="ml-2 col-3 btn btn-danger">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <!--                <div class="modal-footer">-->
                    <!--                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>-->
                    <!--                </div>-->

                </div>
            </div>
        </div>
    </section>


</section>
</body>
</html>
<!------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------->












<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title th:text="${appName}"></title>-->
<!--</head>-->
<!--<body>-->
<!--<h1 th:text="${appName}"></h1>-->

<!--<h2>Specialty</h2>-->
<!--<div th:text="${notification}"></div>-->
<!--<form action="/specialty/add" method="post">-->
<!--    <label>Name: <input name="name" type="text" placeholder="Enter the name"/></label>-->
<!--    <label>Year: <select name="year">-->
<!--        <option selected="selected">1</option>-->
<!--        <option>2</option>-->
<!--        <option>3</option>-->
<!--        <option>4</option>-->
<!--        <option>5</option>-->
<!--        <option>6</option>-->
<!--    </select></label>-->
<!--    <button type="submit">Add</button>-->
<!--    <button type="reset">Clear</button>-->
<!--</form>-->
<!--<br/>-->
<!--<div>-->
<!--    <table border="1px">-->
<!--        <caption>Added specialties</caption>-->
<!--        <tr>-->
<!--            <th>Name</th>-->
<!--            <th>Year</th>-->
<!--            <th></th>-->
<!--            <th></th>-->
<!--        </tr>-->
<!--        <tr th:each="specialty: ${specialties}">-->
<!--            <td th:text="${specialty.name}"></td>-->
<!--            <td th:text="${specialty.year}"></td>-->
<!--            <td><form action="specialty/delete/" method="post">-->
<!--                <input name="id" type="hidden" th:value="${specialty.id}">-->
<!--                <button type="submit">Delete</button>-->
<!--            </form></td>-->
<!--            <td><form action="specialty/update/" method="post">-->
<!--                <input name="id" type="hidden" th:value="${specialty.id}">-->
<!--                <button type="submit">Update</button>-->
<!--            </form></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    &lt;!&ndash;    <form>&ndash;&gt;-->
<!--    &lt;!&ndash;        <label>Discipline&ndash;&gt;-->
<!--    &lt;!&ndash;            <select name="discipline" th:each="secialty: ${specialties}">&ndash;&gt;-->
<!--    &lt;!&ndash;                <option th:text="${specialty.name}"></option>&ndash;&gt;-->
<!--    &lt;!&ndash;            </select>&ndash;&gt;-->
<!--    &lt;!&ndash;        </label>&ndash;&gt;-->
<!--    &lt;!&ndash;    </form>&ndash;&gt;-->
<!--</div>-->

<!--<br><br>-->
<!--<form action="/subject/add" method="post">-->
<!--    <label>Name: <input name="name" type="text" placeholder="Enter the name"/></label>-->
<!--    <label>Quantity of groups: <input name="quantOfGroups" type="number" min="1" max="20"/></label>-->
<!--    <label>Specialties: <input name="specialties" th:each="specialty: ${specialties}" th:value="${specialty.id}" th:text="${specialty.name}+'-'+${specialty.year}"-->
<!--                           type="checkbox"/></label>-->
<!--    <button type="submit">Add</button>-->
<!--    <button type="reset">Clear</button>-->
<!--</form>-->
<!--<br/>-->

<!--<div>-->
<!--    <table border="1px">-->
<!--        <caption>Added subjects</caption>-->
<!--        <tr>-->
<!--            <th>Name</th>-->
<!--            <th>Quantity of groups</th>-->
<!--            <th>Teachers</th>-->
<!--            <th>Specialties</th>-->
<!--            <th></th>-->
<!--            <th></th>-->
<!--        </tr>-->
<!--        <tr th:each="subject: ${subjects}">-->
<!--            <td th:text="${subject.name}"></td>-->
<!--            <td th:text="${subject.quantOfGroups}"></td>-->
<!--            <td th:text="${subject.teachers}"></td>-->
<!--            <td th:text="${subject.specialties}"></td>-->
<!--            <td><form action="subject/delete/" method="post">-->
<!--                <input name="id" type="hidden" th:value="${subject.id}">-->
<!--                <button type="submit">Delete</button>-->
<!--            </form></td>-->
<!--            <td><form action="subject/update/" method="post">-->
<!--                <input name="id" type="hidden" th:value="${subject.id}">-->
<!--                <button type="submit">Update</button>-->
<!--            </form></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->

<!--<p></p>-->

<!--<br><br>-->
<!--<form action="/lesson/add" method="post">-->
<!--    <label>Day: <select name="day">-->
<!--        <option value="1">MONDAY</option>-->
<!--        <option value="2">TUESDAY</option>-->
<!--        <option value="3">WEDNESDAY</option>-->
<!--        <option value="4">THURSDAY</option>-->
<!--        <option value="5">FRIDAY</option>-->
<!--        <option value="6">SATURDAY</option>-->
<!--        <option value="7">SUNDAY</option>-->
<!--    </select></label>-->
<!--    <label>Time: <select name="time">-->
<!--        <option value="0">8:30-9:50</option>-->
<!--        <option value="1">10:00-11:20</option>-->
<!--        <option value="2">11:40-13:00</option>-->
<!--        <option value="3">13:30-14:50</option>-->
<!--        <option value="4">15:00-16:20</option>-->
<!--        <option value="5">16:30-17:50</option>-->
<!--        <option value="6">18:00-19:20</option>-->
<!--    </select></label>-->
<!--    <label>Subject: <select name="subjId">-->
<!--        <option th:each="subject: ${subjects}" th:text="${subject.name}" th:value="${subject.id}"></option>-->
<!--    </select></label>-->
<!--    <label>Teacher: <select name="teachId">-->
<!--        <option th:each="teacher: ${teachers}" th:text="${teacher.name}" th:value="${teacher.id}"></option>-->
<!--    </select></label>-->
<!--    <label>Group: <select name="group">-->
<!--        <option value="0">Lecture</option>-->
<!--        <option value="1">Group</option>-->
<!--    </select></label>-->
<!--    <label>Weeks: <input name="weeks" type="text"/></label>-->
<!--    <label>Room: <select name="room">-->
<!--        <option value="214">Room</option>-->
<!--        <option value="remotely">Remotely</option>-->
<!--    </select></label>-->
<!--    <button type="submit">Add</button>-->
<!--    <button type="reset">Clear</button>-->
<!--</form>-->
<!--<br/>-->

<!--<div>-->
<!--    <table border="1px">-->
<!--        <caption>Added lessons</caption>-->
<!--        <tr>-->
<!--            <th>Day</th>-->
<!--            <th>Time</th>-->
<!--            <th>Subject</th>-->
<!--            <th>Teacher</th>-->
<!--            <th>Group</th>-->
<!--            <th>Weeks</th>-->
<!--            <th>Room</th>-->
<!--            <th></th>-->
<!--            <th></th>-->
<!--        </tr>-->
<!--        <tr th:each="lesson: ${lessons}">-->
<!--            <td th:text="${lesson.dayOfWeek}"></td>-->
<!--            <td th:text="${lesson.time}"></td>-->
<!--            <td th:text="${lesson.subject.name}"></td>-->
<!--            <td th:text="${lesson.teacher.name}"></td>-->
<!--            <td th:text="${lesson.group}"></td>-->
<!--            <td th:text="${lesson.weeks}"></td>-->
<!--            <td th:text="${lesson.room}"></td>-->
<!--            <td><form action="lesson/delete/" method="post">-->
<!--                <input name="id" type="hidden" th:value="${lesson.id}">-->
<!--                <button type="submit">Delete</button>-->
<!--            </form></td>-->
<!--            <td><form action="lesson/update/" method="post">-->
<!--                <input name="id" type="hidden" th:value="${lesson.id}">-->
<!--                <button type="submit">Update</button>-->
<!--            </form></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->

<!--<br><br>-->
<!--<form action="/teacher/add" method="post">-->
<!--    <label>Name: <input name="name" type="text" placeholder="Enter the name"/></label>-->
<!--    <label>Subjects: <input name="subjects" th:each="subject: ${subjects}" th:value="${subject.id}" th:text="${subject.name}"-->
<!--                            type="checkbox"/></label>-->
<!--    <button type="submit">Add</button>-->
<!--    <button type="reset">Clear</button>-->
<!--</form>-->
<!--<br/>-->

<!--<br>-->
<!--<div>-->
<!--    <table border="1px">-->
<!--        <caption>Added teachers</caption>-->
<!--        <tr>-->
<!--            <th>Id</th>-->
<!--            <th>Name</th>-->
<!--            <th>Subjects</th>-->
<!--        </tr>-->
<!--        <tr th:each="teacher: ${teachers}">-->
<!--            <td th:text="${teacher.id}"></td>-->
<!--            <td th:text="${teacher.name}"></td>-->
<!--            <td th:text="${teacher.subjects}"></td>-->
<!--            <td><form action="teacher/delete/" method="post">-->
<!--                <input name="id" type="hidden" th:value="${teacher.id}">-->
<!--                <button type="submit">Delete</button>-->
<!--            </form></td>-->
<!--            <td><form action="teacher/update/" method="post">-->
<!--                <input name="id" type="hidden" th:value="${teacher.id}">-->
<!--                <button type="submit">Update</button>-->
<!--            </form></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<!--<br>-->
<!--<p></p>-->
<!--<button onclick="location.href = '/profile';">User Profile</button>-->
<!--<p></p>-->


<!--</body>-->
<!--</html>-->