<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit schedule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div style="margin-top: 1em; display: flex; justify-content: end;">
        <a th:if="${adminLoggedIn}" href="/admin" class="nav-link btn btn-info mr-3">Edit schedule</a>
        <a class="nav-link btn btn-info mr-3" href="/profile">User Profile</a>
        <a class="nav-link btn btn-secondary" href="/logout">Log out</a>
    </div>
    <header class="mb-5">
        <h1 th:text="${appName}"></h1>
    </header>
    <h1>Welcome to the main page!</h1>
</div>

<form action="download/" method="get">
    <button type="submit">Download</button>
</form>

</body>
</html>