<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
</head>
<body>
<h1>Test Page</h1>

<h2>Specialty</h2>
<div th:text="${notification}"></div>
<form action="/specialty/add" method="post">
    <label>Name: <input name="name" type="text" placeholder="Enter the name"/></label>
    <label>Year: <select name="year">
        <option selected="selected">1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
    </select></label>
    <button type="submit">Add</button>
    <button type="reset">Clear</button>
</form>
<br/>
<div>
    <table border="1px">
        <caption>Added specialties</caption>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="specialty: ${specialties}">
            <td th:text="${specialty.name}"></td>
            <td th:text="${specialty.year}"></td>
            <td><form action="specialty/delete/" method="post">
                <input name="id" type="hidden" th:value="${specialty.id}">
                <button type="submit">Delete</button>
            </form></td>
            <td><form action="specialty/update/" method="post">
                <input name="id" type="hidden" th:value="${specialty.id}">
                <button type="submit">Update</button>
            </form></td>
        </tr>
    </table>
<!--    <form>-->
<!--        <label>Discipline-->
<!--            <select name="discipline" th:each="secialty: ${specialties}">-->
<!--                <option th:text="${specialty.name}"></option>-->
<!--            </select>-->
<!--        </label>-->
<!--    </form>-->
</div>

<div>
    <table border="1px">
        <caption>Added subjects</caption>
        <tr>
            <th>Name</th>
            <th>Quantity of groups</th>
            <th>Teachers</th>
            <th>Specialties</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="subject: ${subjects}">
            <td th:text="${subject.name}"></td>
            <td th:text="${subject.quantOfGroups}"></td>
            <td th:text="${subject.teachers}"></td>
            <td th:text="${subject.specialties}"></td>
            <td><form action="subject/delete/" method="post">
                <input name="id" type="hidden" th:value="${subject.id}">
                <button type="submit">Delete</button>
            </form></td>
            <td><form action="subject/update/" method="post">
                <input name="id" type="hidden" th:value="${subject.id}">
                <button type="submit">Update</button>
            </form></td>
        </tr>
    </table>
</div>

<p></p>

<div>
    <table border="1px">
        <caption>Added lessons</caption>
        <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Group</th>
            <th>Weeks</th>
            <th>Room</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="lesson: ${lessons}">
            <td th:text="${lesson.dayOfWeek}"></td>
            <td th:text="${lesson.time}"></td>
            <td th:text="${lesson.subject.name}"></td>
            <td th:text="${lesson.teacher.name}"></td>
            <td th:text="${lesson.group}"></td>
            <td th:text="${lesson.weeks}"></td>
            <td th:text="${lesson.room}"></td>
            <td><form action="lesson/delete/" method="post">
                <input name="id" type="hidden" th:value="${lesson.id}">
                <button type="submit">Delete</button>
            </form></td>
            <td><form action="lesson/update/" method="post">
                <input name="id" type="hidden" th:value="${lesson.id}">
                <button type="submit">Update</button>
            </form></td>
        </tr>
    </table>
</div>

<br><br>
<form action="/teacher/add" method="post">
    <label>Name: <input name="name" type="text" placeholder="Enter the name"/></label>
    <button type="submit">Add</button>
    <button type="reset">Clear</button>
</form>
<br/>

<br>
<div>
    <table border="1px">
        <caption>Added teachers</caption>
        <tr>
<!--            <th>Id</th>-->
            <th>Name</th>
        </tr>
        <tr th:each="teacher: ${teachers}">
<!--            <td th:text="${teacher.id}"></td>-->
            <td th:text="${teacher.name}"></td>
            <td><form action="teacher/delete/" method="post">
                <input name="id" type="hidden" th:value="${teacher.id}">
                <button type="submit">Delete</button>
            </form></td>
            <td><form action="teacher/update/" method="post">
                <input name="id" type="hidden" th:value="${teacher.id}">
                <button type="submit">Update</button>
            </form></td>
        </tr>
    </table>
</div>

<p></p>
</body>
</html>