<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>

<h2>Profile</h2>

<form action="/profile" th:object="${user}" method="post">
	<div>
    	<label>Login:   </label> <label th:text="*{login}"></label>
    </div>
    <br>
    <div>
	    <label>Password: <input name="password" type="password" th:value="*{password}" th:filed="*{password}"/></label>
	    <ul>
	        <li style="color: orangered;" th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
		</ul>
    </div>   
    <br>
    <div>
    	<label>User role:   </label> <label th:text="*{role.name}"></label>
    </div>
    <br>
    <p></p>
    <button type="submit">Change password</button>
    <br>
    <p></p>
    <button type="submit" formaction="/profile/back">Back</button>
</form>
<p></p>
<p style="color: green;" th:text="${message}"></p> 
</body>
</html>