<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{registration.title}">Registration Form</title>
</head>
<body>

<h2 th:text="#{registration.h2}">Sign Up</h2>

<form action="/registration" th:object="${user}" method="post">
    <div>
        <label><span th:text="#{registration.login}"></span><input type="text" th:field="*{login}" th:placeholder="#{registration.login.placeholder}"/></label>
        <ul>
           <li style="color: orangered;" th:each="err : ${#fields.errors('login')}" th:text="${err}"/>
        </ul>
    </div>
    <br>
    <div>
        <label><span th:text="#{registration.password}"></span><input type="password" th:field="*{password}" th:placeholder="#{registration.password.placeholder}"/></label>
        <ul>
            <li style="color: orangered;" th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
        </ul>    
    </div>
    <br>
    <div>
        <label><span th:text="#{registration.confirm}"></span><input type="password" th:field="*{matchingPassword}" th:placeholder="#{registration.confirm.placeholder}"/></label>
        <ul>
           <li style="color: orangered;" th:each="err : ${#fields.errors('matchingPassword')}" th:text="${err}"/>
        </ul> 
    </div>
    <br>
    <div>
       <label><span th:text="#{registration.roleCode}"></span><input type="password" th:field="*{roleCode}" th:placeholder="#{registration.roleCode.placeholder}"/></label>
       <ul>
   	        <li style="color: orangered;" th:each="err : ${#fields.errors('roleCode')}" th:text="${err}"/>
       </ul>
   </div>
	<br>
	<p></p>
	<button type="submit" th:text="#{registration.submit}">Sign Up</button>
</form>
<p style="color: orangered;" th:text="${message}"></p>
</body>
</html>